.entry-content > * {
	margin: 0 auto;
	max-width: $size__site-max-width;
	padding: 1em;
}

.entry-content > .alignwide {
	max-width: 1100px;
}

.entry-content > .alignfull {
	margin: 0;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.entry-content ul,
.entry-content ol {
	max-width: $size__site-max-width;
	list-style-position: inside;
}

.entry-content > p,
.entry-content > ul,
.entry-content > ol,
.entry-content > blockquote {
	padding: 1em;
	margin: 0 auto;
	background: $color__background-body;
}

.entry-content > h1,
.entry-content > h2,
.entry-content > h4,
.entry-content > h5,
.entry-content > h6 {
	padding: 1rem;
	margin-top: 0;
	margin-bottom: 0;
	background: $color__background-body;
}

.entry-content > .rotate,
.entry-content > h3 {
	color: $color__theme-background;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 5px;
	transform: rotate(-90deg) translate(0, -100%);
	transform-origin: 100% 0;
}

.entry-content .rotate + p,
.entry-content h3 + p,
.entry-content p + p,
.entry-content blockquote + p,
.entry-content p + figure {
	padding-top: 0;
}

/* */
/* ! Quote */
/* */

.wp-block-quote {
	p {
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		margin: 0 0 1em;
	}

	cite {
		font-size: 15px;
		line-height: 21px;
	}

	&.is-large {
		background: $color__theme-background;
		color: $color__background-body;
		height: 50vh;
		margin: 0;
		max-width: 100%;
		padding: 1em;
		clear: both;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-align: center;
		align-items: center;

		p {
			font-size: 42px;
			font-weight: normal;
			line-height: 51px;
			margin-bottom: .25em;
		}

		cite {
			color: $color__background-body;
			margin-top: 0;
		}
	}
}

/**/
/* ! Image */
/**/

.wp-block-image {

	background: $color__background-body;
	padding-top: 0;
	padding-bottom: 0;

	&:not(".alignfull") {
		padding: 1em;
		margin: 0 auto;
	}

	&.alignleft,
	&.alignright {
		padding: 1em;
	}

	img {
		display: block;
		width: 100%;
	}
}

/**/
/* ! Cover Image */
/**/

.wp-block-cover-image {
	margin-top: 0;
	margin-bottom: 0;

	&.alignfull {
		padding: 3em;
		height: 100vh;
	}

	h2 {
		font-size: 42px;
		font-weight: normal;
		line-height: 51px;
		max-width: 100%;
		padding: 0;
	}
}

/**/
/* ! Gallery */
/**/

.wp-block-gallery {

	&:not(.components-placeholder) {
		margin: 0 auto;
	}

	margin: 0 auto;
	padding: 1rem;
}

/**/
/* ! Cover Text */
/**/

.wp-block-cover-text p {
	padding: 1.5em 20px;
}

/**/
/* ! Latest Posts */
/**/

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
	padding: 0 20px;
}

/**/
/* ! Table */
/**/

.wp-block-table {
	display: block;
	overflow-x: auto;

	table {
		border-collapse: collapse;
		width: 100%
	}

	td,
	th {
		padding: .5em;
	}
}

/**/
/* ! Video */
/**/

.wp-block-video {

	background: $color__background-body;

	video {
		max-width: 100%;
	}

	&.alignfull video {
		display: block;
		margin: 0 auto;
	}
}

/**/
/* ! Embeds */
/**/

*[class^="wp-block-embed"],
.wp-block-embed {

	background: $color__background-body;
	padding: 1em;

	figcaption {
		margin-top: .5em;
		text-align: center;
		font-size: 13px;
	}

	.jetpack-video-wrapper {
		margin-bottom: 0;
	}

	&.type-video > .wp-block-embed__wrapper {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 56.25%;
	}

	&.type-video > .wp-block-embed__wrapper > iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	& > iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/**/
/* ! Separator */
/**/

.wp-block-separator {
	margin-bottom: 0;
	margin-top: 0;
}

/**/
/* ! Dim Backgrounds */
/**/

.has-background-dim.has-background-dim-10:before {
	background-color: rgba($color__theme-background, .1);
}

.has-background-dim.has-background-dim-20:before {
	background-color: rgba($color__theme-background, .2);
}

.has-background-dim.has-background-dim-30:before {
	background-color: rgba($color__theme-background, .3);
}

.has-background-dim.has-background-dim-40:before {
	background-color: rgba($color__theme-background, .4);
}

.has-background-dim.has-background-dim:before,
.has-background-dim.has-background-dim-50:before {
	background-color: rgba($color__theme-background, .5);
}

.has-background-dim.has-background-dim-50:before {
	background-color: rgba($color__theme-background, .5);
}

.has-background-dim.has-background-dim-60:before {
	background-color: rgba($color__theme-background, .6);
}

.has-background-dim.has-background-dim-70:before {
	background-color: rgba($color__theme-background, .7);
}

.has-background-dim.has-background-dim-80:before {
	background-color: rgba($color__theme-background, .8);
}

.has-background-dim.has-background-dim-90:before {
	background-color: rgba($color__theme-background, .9);
}

.has-background-dim.has-background-dim-100:before {
	background-color: $color__theme-background;
}

@media screen and (min-width: 768px) {

	.entry-content > p,
	.entry-content > ul,
	.entry-content > ol,
	.entry-content > blockquote,
	.entry-content .wp-block-cover-image,
	.entry-content .wp-block-gallery:not(.components-placeholder) {
		margin: 0 auto;
	}

	.entry-content .rotate + p,
	.entry-content h3 + p {
		margin-top: 3em;
		padding-top: 3em;
	}

	.entry-content > .rotate,
	.entry-content > h3 {
		color: $color__background-body;
		margin: 3em 0 0;
		max-width: 20vh;
		position: absolute;
		right: calc( 90% );
		text-align: right;
	}

	.wp-block-gallery,
	.wp-block-video {
		padding: 0;
	}

	.wp-block-video:not('.alignfull') video {
		max-width: $size__site-max-width;
	}

	.wp-block-cover-text p {
		padding: 1.5em 0;
	}

	.entry-content > * {
		padding-left: 0px;
		padding-right: 0px;
	}

	.wp-block-image:not(".alignfull") {
		padding: 3em;
	}

	.wp-block-cover-image.alignfull h2 {
		font-size: 117px;
		line-height: 128px;
	}
}

@media screen and (min-width: 940px) {

	.entry-content > * {
		margin: 1.5em 10% 1.5em auto;
	}

	.entry-content > p,
	.entry-content > ul,
	.entry-content > ol,
	.entry-content > blockquote,
	.entry-content > figure,
	.entry-content > pre,
	.entry-content .wp-block-cover-image,
	.entry-content .wp-block-gallery:not(.components-placeholder) {
		margin: 0 10% 0 auto;
	}

	.wp-block-image.alignleft,
	.wp-block-image.alignright {
		margin-right: 0;
		margin-left: 0;
	}

	.entry-content > .rotate,
	.entry-content > h3 {
		color: $color__background-body;
		margin: 3em 0 0;
		position: absolute;
		right: calc( 10% + #{$size__site-max-width} );
		max-width: 20vh;
	}

}

/**
 * Cover Image (First Child)
 */
.wp-block-cover-image.alignfull:first-child {
	align-items: center;
	justify-content: left;
	background-color: $color__theme-background;
	background-size: 50% auto;
	background-position: 100% 40%;
	background-repeat: no-repeat;
	padding: 12px;

	h2 {
		text-align: left;
	}

	&.has-background-dim.has-background-dim:before, 
	&.has-background-dim.has-background-dim-50:before {
		background-color: transparent;
	}
}

@media screen and (min-width: 768px) {
	.wp-block-cover-image.alignfull:first-child {
		background-size: 20% auto;
		background-position: 90% 0;
		padding: 10%;
	}
}

/**
 * Temporary Styles
 * (Do not merge these ;) )
 */
.entry-header {
	display: none;
}
.site-header {
	position: absolute;
	background-color: transparent;
	z-index: 500;
}