.entry-content > * {
	margin: 1.5em auto;
	max-width: $size__site-max-width;
	padding-left: 20px;
	padding-right: 20px;
}

.entry-content > .alignwide {
	max-width: 1100px;
}

.entry-content > .alignfull {
	margin: 0;
	max-width: 100%;
}

.entry-content ul,
.entry-content ol {
	margin: 0 auto;
	max-width: $size__site-max-width;
	list-style-position: outside;
}

.entry-content > p,
.entry-content > ul,
.entry-content > ol,
.entry-content > blockquote {
	padding: 3em;
	margin: 0 auto;
	background: $color__background-body;
}

.entry-content > .rotate,
.entry-content > h3 {
	color: $color__theme-background;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 5px;
	transform: rotate(-90deg) translate(0, -100%);
	transform-origin: 100% 0;
}

.entry-content .rotate + p,
.entry-content h3 + p,
.entry-content p + p,
.entry-content p + blockquote,
.entry-content blockquote + p,
.entry-content p + figure {
	padding-top: 0;
}

.wp-block-video video {
	max-width: $size__site-max-width;
}

.wp-block-image:not(".alignfull") {
	padding: 3em;
	margin: 0 auto;
	background: $color__background-body;
}

.wp-block-image img {
	display: block;
	width: 100%;
}

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

.wp-block-cover-text p {
	padding: 1.5em 20px;
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
	padding: 0 20px;
}

.wp-block-table {
	display: block;
	overflow-x: auto;
}

.wp-block-table table {
	border-collapse: collapse;
	width: 100%
}

.wp-block-table td, .wp-block-table th {
	padding: .5em;
}

.entry-content li {
	list-style-position: outside;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/**
 * Cover Image
 */

.wp-block-cover-image {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-cover-image.alignfull {
	padding: 3em;
	height: 100vh;
}

.wp-block-cover-image h2 {
	font-size: 42px;
	font-weight: normal;
	line-height: 51px;
	max-width: 100%;
	padding: 0;
}

.wp-block-separator {
	margin-bottom: 0;
	margin-top: 0;
}

/**
 * Dim Backgrounds
 */

.has-background-dim.has-background-dim-10:before {
	background-color: rgba($color__theme-background, .1);
}

.has-background-dim.has-background-dim-20:before {
	background-color: rgba($color__theme-background, .2);
}

.has-background-dim.has-background-dim-30:before {
	background-color: rgba($color__theme-background, .3);
}

.has-background-dim.has-background-dim-40:before {
	background-color: rgba($color__theme-background, .4);
}

.has-background-dim.has-background-dim:before,
.has-background-dim.has-background-dim-50:before {
	background-color: rgba($color__theme-background, .5);
}

.has-background-dim.has-background-dim-50:before {
	background-color: rgba($color__theme-background, .5);
}

.has-background-dim.has-background-dim-60:before {
	background-color: rgba($color__theme-background, .6);
}

.has-background-dim.has-background-dim-70:before {
	background-color: rgba($color__theme-background, .7);
}

.has-background-dim.has-background-dim-80:before {
	background-color: rgba($color__theme-background, .8);
}

.has-background-dim.has-background-dim-90:before {
	background-color: rgba($color__theme-background, .9);
}

.has-background-dim.has-background-dim-100:before {
	background-color: $color__theme-background;
}

@media screen and (min-width: 768px) {

	.entry-content > * {
		margin: 1.5em 10% 1.5em auto;
	}

	.wp-block-gallery:not(.components-placeholder),
	.wp-block-image:not(".alignfull") {

	}
	.entry-content > p,
	.entry-content > ul,
	.entry-content > ol,
	.entry-content > blockquote {
		margin: 0 10% 0 auto;
	}

	.entry-content .rotate + p,
	.entry-content h3 + p {
		margin-top: 3em;
		padding-top: 3em;
	}

	.entry-content > .rotate,
	.entry-content > h3 {
		color: $color__background-body;
		margin: 3em 0 0;
		position: absolute;
		right: calc( 10% + #{$size__site-max-width} );
		max-width: 20vh;
	}

	.wp-block-cover-text p {
		padding: 1.5em 0;
	}

	.entry-content > * {
		padding-left: 0px;
		padding-right: 0px;
	}

	.wp-block-image:not(".alignfull") {
		padding: 3em;
	}

	/**
	 * Cover Image
	 */

	.wp-block-cover-image.alignfull h2 {
		font-size: 117px;
		line-height: 128px;
	}

}
