@import "variables-site/variables-site";
@import "mixins/mixins-master";

//TODO: Find a better way to make this font available?
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');

// Base font styles
.editor-post-title .editor-post-title__input,
.edit-post-visual-editor, 
.edit-post-visual-editor p {
	font-family: $font__main;
}

.edit-post-visual-editor, 
.edit-post-visual-editor p {
	@include font-size(1.125);
}

/* */
/* ! Quote */
/* */
.wp-block-quote:not(.is-large) {
	border-left: .25rem solid $color__theme-primary;
}

/* */
/* ! Pullquote */
/* */
.wp-block-pullquote {
	border-top: 4px solid $color__theme-primary;
	border-bottom: 4px solid $color__theme-primary;

	cite {
		text-transform: none;
	}
}