/**
 * Header
 */

.site-header-wrap {
	display: grid;
	grid-auto-flow: dense;
	grid-gap: 0;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-template-areas:
		"branding navigation navigation"
		"branding navigation navigation";
	margin: 0 auto;
	max-width: $size__site-max--wide-width;
	width: 100%;
}

.site-branding {
	grid-area: branding;
}

.main-navigation {
	grid-area: navigation;
}

/**
 * Footer
 */

.site-footer {
}