@import url("https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy");
.editor-post-title .editor-post-title__input,
.edit-post-visual-editor,
.edit-post-visual-editor p {
  font-family: "Sorts Mill Goudy", "OFL Sorts Mill Goudy", serif; }

.edit-post-visual-editor,
.edit-post-visual-editor p {
  font-size: 18px;
  font-size: 1.125rem; }

/* */
/* ! Quote */
/* */
.wp-block-quote:not(.is-large) {
  border-left: 0.25rem solid #f18686; }

/* */
/* ! Pullquote */
/* */
.wp-block-pullquote {
  border-top: 4px solid #f18686;
  border-bottom: 4px solid #f18686; }
  .wp-block-pullquote cite {
    text-transform: none; }
