/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 0;
}

.site-info {
	margin: 1em auto;
	padding: 0 1em;
	max-width: 720px;
}

