/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 0;
}

.site-info {
	margin: 1.5rem auto;
	padding: 0 1.5rem;
	max-width: $size__site-max-width;
}

