/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
	background: $color__theme-link;
	color: $color__background-body;
}

.site-branding {
	padding: 1em;
}

.site-title {
	font-size: 1rem;
	font-style: italic;
	margin: 0;
	padding: 0.5em;
}

.site-title a {
	color: $color__background-body;
}

.site-description {
	margin: 0;
	padding: 0 0.5em 0.5em;
}
