$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__site-max-width: 740px;
$size__site-max--wide-width: 1100px;
$size__horizontal-padding: 2rem;
$size__vertical-padding: $size__horizontal-padding;
