.main-navigation {
	clear: both;
	display: block;
	padding: 1em 0;

	& > div {
		overflow: hidden;
		text-align: right;
	}

	ul {
		clear: both;
		display: inline-block;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: left;

		ul {
			background: white;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			right: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				&:last-of-type > a {
					padding-bottom: .5rem;
				}
			}

			a {
				color: black;
				padding: .5rem .5rem 0;
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			right: 0;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		color: $color__background-body;
		display: block;
		padding: .5em;
	}

	.icon {
		width: 1rem;
		height: 1rem;
		margin-left: .25rem;
		fill: currentColor;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.icon {
		width: 0.75rem;
		height: 0.75rem;
		margin-left: .25rem;
		fill: currentColor;
	}
}

/* Hide more link unless we need it. */
#more-menu {

	display: none;

	&.visible {
		display: inline-block;
	}

	.icon {
		vertical-align: bottom;
		margin-left: 0;
	}

	.sub-menu {

		.icon {
			float: right;
		}

		.sub-menu {
			box-shadow: none;
			right: inherit;
			left: 0;
			padding-left: 1rem;
			position: relative;
			top: inherit;
		}
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}

.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation > div {
		text-align: left;
	}
}