.main-navigation {
	clear: both;
	display: block;
	padding: 1em 0;

	& > div {
		float: right;
	}

	ul {
		clear: both;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: left;

		ul {
			background: $color__theme-link;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			.contrast-text-color & {
				background: $color__background-body;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				clear: both;
				float: none;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				&:last-of-type > a {
					padding-bottom: 1.5rem;
				}
			}

			a {
				color: $color__background-body;
				font-size: 30px;
				line-height: 1.25;
				padding: 1.5rem 2rem 0;
				width: 100%;
			}

			a:hover,
			a.focus {
			}
		}

		li.toggled-on > ul {
			left: 0;
			right: inherit;
			width: 100vw;
		}
	}

	li {
		float: left;

		&:hover > a,
		&.focus > a {
		}

		&.menu-item-has-children > a {
			padding-right: .25rem;
		}
	}

	a {
		color: $color__background-body;
		display: inline-block;
		padding: .5em;
		.contrast-text-color & {
			color: $color__theme-link;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.dropdown-toggle {
		background: transparent;
		border: none;
		color: $color__background-body;
		padding: .25rem;

		.contrast-text-color & {
			color: $color__theme-link;
		}
	}

	.icon {
		width: 0.75rem;
		height: 0.75rem;
		fill: currentColor;
	}
}

/* Hide more link unless we need it. */
#more-menu {

	display: none;

	&.visible {
		display: inline-block;
	}

	.dropdown-toggle {
		line-height: 1.7rem;
		padding: .5rem;
	}

	.icon {
		vertical-align: text-bottom;
		margin-left: 0;
	}

	.sub-menu {

		& > li {
			clear: both;
			float: none;
		}

		a {
			position: relative;
			z-index: 1;
		}

		.dropdown-toggle {
			position: absolute;
			right: 2rem;
			top: 1rem;
			z-index: 0;
		}

		.sub-menu {
			box-shadow: none;
			right: inherit;
			left: 0;
			padding-left: 1rem;
			position: relative;
			top: inherit;
		}
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}

.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation {

		& > div {
			float: left;
		}

		li {
			float: left;
			position: relative;
		}

		.menu-item-has-children > a {
			padding-right: .5rem;
		}

		ul li.toggled-on > ul {
			left: inherit;
			right: 0;
			width: inherit;
		}

		ul ul {
			background: rgba( $color__theme-link, .66 );

			li {
				float: left;
				clear: inherit;
			}

			li:last-of-type > a {
				padding-bottom: .5rem;
			}

			a {
				font-size: 1rem;
				padding: .5rem .5rem 0;
				width: 200px;
			}
		}
	}
}
