/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
## Post Navigation
--------------------------------------------------------------*/

.comment-navigation,
.posts-navigation,
.post-navigation {

	background: $color__theme-background;
	margin: 0 auto;
	max-width: $size__site-max-width;

	.site-main & {
		overflow: hidden;
	}

	.nav-links {
		margin: 1em auto;
		padding: 0 1em;
	}
}

@media screen and (min-width: 940px) {

	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		margin: 0 10% 1.5em auto;
	}
}