.comments-area {
	background: $color__background-body;
	margin: 0 auto;
	max-width: $size__site-max-width;
	padding: 1.5rem;
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;

	ol {
		margin-left: 1em;
	}
}

@media screen and (min-width: 940px) {
	.comments-area {
		padding: 2rem;
	}
}

@media screen and (min-width: 940px) {

	.comments-area {
		margin: 0 10% 0 auto;
	}
}