.comments-area {
	background: $color__background-body;
	margin: 0 auto;
	max-width: $size__site-max-width;
	padding: 3em;
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;

	ol {
		margin-left: 1em;
	}
}