.sticky {
	display: block;
}

.hentry {
	margin: 0;
	position: relative;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 $size__vertical-padding;
}

.entry-header {

	color: $color__background-body;
	margin: 0 auto;
	max-width: $size__site-max-width;
	position: relative;

	a {
		color: $color__background-body;
	}

	.singular & {
		background: $color__theme-link;
		margin: 0 0 -6rem;
		max-width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.entry-header-wrap {
		background: $color__theme-primary;
		padding: 0 $size__horizontal-padding;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 350px;
		z-index: 2;

		.singular & {
			margin: 0 auto;
			max-width: $size__site-max-width-wide;
			width: 100%;
			display: inherit;
		}
	}
}

.hfeed .page-header {

	color: $color__background-body;
	background: $color__theme-link;
	margin: 0 0 -#{$size__horizontal-padding};
	max-width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;

	.page-title {
		max-width: $size__site-max-width-wide;
		width: 100%;
		margin: 0 auto;
		padding: 0 $size__horizontal-padding;
	}
}

.entry-title {

	color: $color__background-body;
	font-size: 42px;
	font-weight: normal;
	line-height: 51px;
	margin: 0;
	position: relative;
	z-index: 2;

	.singular & {
		font-size: 42px;
		line-height: 51px;
		margin: 6rem auto 0;
		max-width: $size__site-max-width-wide;
		padding: 0 $size__horizontal-padding;
		width: 100%;
	}
}

.entry-meta	{
	position: relative;
	z-index: 3;

	.singular & {
		margin: 0 auto 6rem;
		max-width: $size__site-max-width-wide;
		padding: 0 $size__horizontal-padding;
		width: 100%;
	}
}

.entry-header .entry-featured-image {

	display: block;
	line-height: 0;
	margin: 0 auto;
	max-width: 40%;
	opacity: .5;
	position: relative;
	z-index: 1;

	.singular & {
		margin: 0;
		opacity: 1;
		position: absolute;
		right: $size__horizontal-padding;
		top: 20%;
		left: inherit;
		transform: inherit;
		z-index: 1;
	}
}

.entry-footer {
	margin-left: auto;
	margin-right: auto;
	max-width: $size__site-max-width-wide;

	span {
		margin-right: 1rem;
	}
}

.entry-footer-wrap {
	background: $color__background-body;
	margin: -#{$size__vertical-padding} auto $size__vertical-padding;
	max-width: $size__site-max-width;
	width: 100%;
	padding: $size__horizontal-padding $size__vertical-padding;
	position: relative;
	z-index: 2;
}

@media screen and (min-width: 768px) { // @media screen and (min-width: 37.5em) {

	.entry-header {
		margin-left: auto;
		margin-right: auto;
		max-width: $size__site-max-width;

		.entry-header-wrap {
			margin-left: auto;
			margin-right: 10%;
			max-width: $size__site-max-width;
			padding: 0 $size__horizontal-padding;
			width: 100%;
		}
	}

	.entry-title {
		color: $color__background-body;

		.singular & {
			font-size: 117px;
			line-height: 128px;
		}
	}

	.hfeed .page-header {
		margin: 0 0 -#{$size__horizontal-padding * 3};

		.page-title {
			font-size: 117px;
			line-height: 128px;
		}
	}

	.entry-header .entry-featured-image {

		.singular & {
			max-width: 20%;
			top: 0;
			right: 10%;
		}
	}
}

@media screen and (min-width: 940px) {

	.entry-header {
		margin-left: auto;
		margin-right: auto;
		max-width: $size__site-max-width-wide;
	}

	.entry-footer-wrap {
		margin: -#{$size__vertical-padding} $size__max-width-wide-margin $size__vertical-padding auto;
	}
}