.sticky {
	display: block;
}

.hentry {
	margin: 0;
	position: relative;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
	@include font-size(1.25);

	a {
		text-decoration: underline;
	}
}

.page-links {
	clear: both;
	margin: 0 0 $size__vertical-padding;
}

.entry-header {

	color: $color__background-body;
	margin: 0 auto;
	max-width: $size__site-max-width;
	position: relative;

	a {
		color: $color__background-body;
	}

	.singular & {
		background: $color__theme-link;
		display: flex;
		margin: 0;
		max-width: 100%;
		min-height: 100vh;
		padding: #{$size__horizontal-padding * 4} 0;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.entry-header-wrap {
		background: $color__theme-primary;
		padding: 0 $size__horizontal-padding;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		min-height: 350px;
		z-index: 2;

		.singular & {
			margin: 0 auto;
			max-width: $size__site-max-width-wide;
			width: 100%;
			display: inherit;
		}
	}

	/* Additional Color Options */
	.post-template-color-pink.singular &,
	.page-template-color-pink.singular & {
		background-color: $color__theme-primary;
	}
	.post-template-color-gray.singular &,
	.page-template-color-gray.singular & {
		background-color: $color__theme-secondary;
	}
	.post-template-color-white.singular &,
	.page-template-color-white.singular & {
		background-color: $color__background-body;

		.entry-meta, .entry-meta a, .entry-title {
			color: $color__theme-link;
		}
	}
}

.hfeed .page-header {

	color: $color__background-body;
	background: $color__theme-link;
	margin: 0 0 -#{$size__horizontal-padding};
	max-width: 100%;
	min-height: 100vh;
	padding: #{$size__horizontal-padding * 3} 0;
	display: flex;
	align-items: center;

	.page-title {
		width: 100%;
		margin: 0 auto;
		padding: 0 #{$size__horizontal-padding / 2};
	}
}

.singular .entry-header:only-child,
.hfeed .page-header:only-child {
	margin-bottom: $size__vertical-padding;
}

.entry-title {

	color: $color__background-body;
	font-size: 42px;
	font-weight: normal;
	line-height: 51px;
	margin: 0;
	position: relative;
	z-index: 2;

	.singular & {
		font-size: 42px;
		line-height: 51px;
		margin: 0 auto;
		max-width: $size__site-max-width-wide;
		padding: 0 #{$size__horizontal-padding / 2};
		width: 100%;
	}
}

.entry-meta	{
	position: relative;
	z-index: 3;

	.singular & {
		margin: #{$size__vertical-padding / 4} auto 0;
		max-width: $size__site-max-width-wide;
		padding: 0 #{$size__horizontal-padding / 2};
		width: 100%;
	}
}

.entry-header .entry-featured-image {
	display: block;
	line-height: 0;
	margin: 0 auto;
	width: 100%;
	height: 350px;
	opacity: .5;
	padding: $size__vertical-padding 0;
	position: absolute;
    z-index: 1;
    left: 0;

	img {
		display: block;
		height: 100%;
		margin: 0 auto;
		width: auto;
	}

	.singular & {
		margin: 0;
		opacity: 1;
		position: absolute;
		right: 0;
		top: 20%;
		left: inherit;
		transform: inherit;
		width: 50%;
		z-index: 1;

		img {
			height: auto;
			margin: inherit;
		}
	}
}

.entry-footer {
	margin-left: auto;
	margin-right: auto;
	max-width: $size__site-max-width-wide;
	color: $color__theme-tertiary;
	font-style: italic;

	.entry-footer-wrap > span {
		margin-right: 1rem;
	}

	a {
		color: $color__theme-tertiary;
	}
}

.entry-footer-wrap {
	background: $color__background-body;
	margin: -#{$size__vertical-padding} auto $size__vertical-padding;
	max-width: $size__site-max-width;
	width: 100%;
	padding: $size__vertical-padding #{$size__horizontal-padding / 2};
	position: relative;
	z-index: 2;

	.wp-block-button {
		margin-top: $size__vertical-padding;
		margin-bottom: #{$size__vertical-padding / 2 };
	}
}

.page-template-hide-header,
.post-template-hide-header {

	.entry-header {
		visibility: hidden;
		opacity: 0;
		height: 0;
		min-height: 0;
		padding: 2.5rem;
	}

	.entry-content .alignfull:first-child {
		margin-top: -#{$size__vertical-padding * 3.5 };
	} 
}

.blog .post, .archive .post, .search-results .post {

	&:nth-of-type(3n+2) .entry-header {
		color: $color__theme-link;

		.entry-header-wrap {
			background: $color__background-body;
		}

		a {
			color: $color__theme-link;
		}

	}

	&:nth-of-type(3n+3) .entry-header {
		color: $color__background-body;

		.entry-header-wrap {
			background: $color__theme-link;
		}

		a {
			color: $color__background-body;
		}

	}

}

.home.blog .page-header {
	min-height: 0;
	padding: 5rem 0 3rem;
}

@media screen and (min-width: 740px) {

	.page-content,
	.entry-content,
	.entry-summary {
		margin: 0;
		@include font-size(1.125);
	}

	.entry-header {
		margin-left: auto;
		margin-right: auto;
		max-width: $size__site-max-width;

		.entry-header-wrap {
			margin-left: auto;
			margin-right: auto;
			max-width: $size__site-max-width;
			padding: 0 $size__horizontal-padding;
			width: 100%;
		}
	}

	.singular .entry-header:not(:only-child) .entry-meta {
		margin-bottom: #{$size__vertical-padding * 4};
	}

	.entry-title {
		color: $color__background-body;

		.singular & {
			font-size: 117px;
			line-height: 128px;
		}

		.page.singular & {
			padding-bottom: #{$size__horizontal-padding * 4};
		}
	}

	.singular .entry-header:not(:only-child),
	.hfeed .page-header:not(:only-child) {
		margin: 0 0 -#{$size__horizontal-padding * 4};
	}

	.hfeed .page-header .page-title {
		font-size: 117px;
		line-height: 128px;
	}

	.entry-header .entry-featured-image {

		.singular & {
			width: 100%;
			height: 100%;
			position: absolute;
			top: -#{$size__vertical-padding};
			bottom: 0;
			left: 0;
			right: 0;

			img {
				position: absolute;
				right: calc( 5% + #{$size__horizontal-padding} );
				height: 40%;
			}
		}
	}

	.post-template-hide-header,
	.page-template-hide-header {

		.entry-header {
			padding: 6.5rem;
		}
	}

	.entry-footer-wrap,
	.hfeed .page-header .page-title {
		margin-bottom: #{$size__vertical-padding * 4};
		padding: 0 $size__horizontal-padding;
	}

	.entry-footer-wrap {
		padding-bottom: #{$size__vertical-padding};
	}

	.home.blog .page-header {
		padding: 10rem 0 8rem;
	}
}

@media screen and (min-width: 940px) {

	.hfeed .page-header .page-title {
		max-width: $size__site-max-width-wide;
	}

	.entry-header {
		margin-left: auto;
		margin-right: auto;
		max-width: $size__site-max-width-wide;
	}

	.entry-footer-wrap {
		margin: -#{$size__vertical-padding} auto $size__vertical-padding;
	}
}

@media screen and (min-width: 1100px) {
	.single .page-title,
	.singular .entry-title {
		padding-right: 240px;
	}
}

@media screen and (min-width: 1400px) {
	.hfeed .entry-header,
	.entry-footer {
		position: relative;
		left: calc( 180px - #{$size__horizontal-padding} );
	}
}